.carousel {
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    
    &-line {
        overflow: hidden;
    }

    &-slide {
        min-height: 1px;
        float: left;
        transform: translateZ(0)
    }

    &-draggable {
        cursor: grabbing;
    }
}